nav.js-menu.sliding-panel-content
    ul.level-1
        each item in nav.menu
            li
                a(href=item.href class=item.status)= item.name
                if (Object.keys(item.sub).length > 0)
                    ul.level-2
                        each sub in item.sub
                            li
                                a(href=sub.href  class=sub.status)= sub.name
                                if (Object.keys(sub.sub).length > 0)
                                    ul.level-3
                                        each a in sub.sub
                                            li
                                                a(href=a.href  class=a.status)= a.name