doctype html
html
    head
        title= meta.title
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        include navigation
        block content
        include breadcrumb
